* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.wrapper {
    background: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.aside {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.photo {
    width: 370px;
}
.main {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    margin-bottom: 20px;

}
.link {
    color: #434c5a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.letter {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}
.skill-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 55px;
}
.skills {
    margin-left: 40px;
    margin-right: 40px;
}
.item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
    margin-left: 15px;
}
.itemtext {
    color: #d8dadd;
}
.proffession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.about-me {
    margin-bottom: 65px;
}
.main-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.projects-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.bracket {
    font-weight: 700;
}
.ptext {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}
.dots {
    color: #bebebe;
    font-size: 14px;
    font-weight: 100;
}
.pitem {
    font-weight: 700;
    margin-left: 17px;
}
.projects {
    margin-bottom: 50px;
}
.job {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;

}
.company {
    color: #ff6b08;
}
.time {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
}
.wlist {
    margin-top: 2px;
    margin-bottom: 30px;
}
.duty-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 14px;
}
.edu {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 50px;
}
.studies {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;
    color: #ff6b08;
}
.stjob {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}